<div class="dialog g-gdpr">
    <section class="g-tab -intro -active">
        <header class="g-header">
            <h4 class="g-header__title">We value your privacy</h4>
        </header>
        <p class="g-body">
            In order to give you the best experience on this website, we use cookies to personalise the content. You can
            click below if you are happy for us to continue doing this, or to see more information. You can always change
            your mind later in the <a class="privacy" href="/privacy.html#about-embedded-contents">Privacy Policy</a> page.
        </p>
        <div class="g-buttons">
            <button class="g-buttons__showSettings">More options</button>
            <button class="g-buttons__acceptAll">I accept</button>
        </div>
    </section>
    <section class="g-tab -settings">
        <header class="g-header">
            <h4 class="g-header__title">Cookie settings</h4>
        </header>
        <div class="g-body">
            <p>
                In the following simplified list you can turn on/off the features of the website. For more description,
                please visit the <a class="privacy" href="/privacy.html#about-embedded-contents">Privacy Policy</a> page.
            </p>
            <div class="g-featureToggle" data-feature="commento"></div>
        </div>
        <div class="g-buttons">
            <button class="g-buttons__showIntro">Back</button>
            <button class="g-buttons__close">Close</button>
        </div>
    </section>
</div>
