{%- include variables.html -%}
{%- assign post = include.post -%}

<article class="l-article">

    {%- if post.illustration != '' -%}
    <figure class="l-illustration">
        <a href="{{ post.url | relative_url }}"><img class="l-illustration__image" src="/assets/img/post-illustration-placeholder.jpg" data-src="/assets/img/blog/{{ post.date | date: '%Y' }}{{ post.id }}/{{ post.illustration }}" alt="{{ post.title | escape }}"></a>
    </figure>
    {%- endif -%}

    <header class="l-header">
        <p class="l-header__author">by {{ post.author | default: site.author }}</p>
        {%- assign m = post.date | date: "%-m" | minus: 0 -%}
        {%- assign postMonth = site.data[site.lang].months[m] -%}
        {%- capture postDate  -%}
            {{ postMonth }}&nbsp;{{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}
        {%- endcapture -%}
        <p class="l-header__date">{{ postDate }}</p>
        <h3 class="l-header__title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
    </header>
    <p class="l-excerpt">
        {{ post.excerpt }}
    </p>
</article>


