{%- capture categorySlugs -%}
    {% for post in site.posts %}{{ post.category | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}
{%- endcapture -%}
{%- assign categorySlugs = categorySlugs | split: ',' | uniq -%}

{%- capture categoryLabels -%}
    {% for post in site.posts %}{{ post.categoryLabel | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}
{%- endcapture -%}
{%- assign categoryLabels = categoryLabels | split: ',' | uniq -%}

{%- assign currentCategorySlug = '' -%}
{%- assign currentCategoryLabel = '' -%}
{%- if page.autopages && page.page_type == 'category_list' -%}
    {%- for categorySlug in categorySlugs -%}
        {%- if page.autopages.display_name == categorySlug -%}
            {%- assign currentCategorySlug = categorySlug -%}
            {%- assign currentCategoryLabel = categoryLabels[forloop.index0] -%}
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
{%- elsif page.page_type == 'post_view' -%}
    {%- for categorySlug in categorySlugs -%}
        {%- if page.category == categorySlug -%}
            {%- assign currentCategorySlug = categorySlug -%}
            {%- assign currentCategoryLabel = categoryLabels[forloop.index0] -%}
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{%- capture tagSlugs -%}
    {% for post in site.posts %}{{ post.tags | join: ',' }}{% unless forloop.last %},{% endunless %}{% endfor %}
{%- endcapture -%}
{%- assign tagSlugs = tagSlugs | split: ',' | uniq -%}

{%- capture tagLabels -%}
    {% for post in site.posts %}{{ post.tagLabels | join: ',' }}{% unless forloop.last %},{% endunless %}{% endfor %}
{%- endcapture -%}
{%- assign tagLabels = tagLabels | split: ',' | uniq -%}

{%- assign tagSlugSize = tagSlugs | size -%}
{%- assign tagLabelSize = tagLabels | size -%}
{%- if tagSlugSize != tagLabelSize -%}
    {%- include ./stopBuild.html -%}
{%- endif -%}

{%- assign currentTagSlug = '' -%}
{%- assign currentTagLabel = '' -%}
{%- if page.autopages && page.page_type == 'tag_list' -%}
    {%- for tagSlug in tagSlugs -%}
        {%- if page.autopages.display_name == tagSlug -%}
            {%- assign currentTagSlug = tagSlug -%}
            {%- assign currentTagLabel = tagLabels[forloop.index0] -%}
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{%- capture sortedDates -%}
    {% for post in site.posts %}{{ post.date }}{% unless forloop.last %},{% endunless %}{% endfor %}
{%- endcapture -%}
{%- assign sortedDates = sortedDates | split: ',' | uniq -%}

{%- capture dateSlugs -%}
    {% for date in sortedDates %}{{ date | date: '%Y-%m' | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}
{%- endcapture -%}
{%- assign dateSlugs = dateSlugs | split: ',' | uniq -%}

{%- capture dateLabels -%}
    {% for date in sortedDates %}{% assign m = date | date: '%-m' | minus: 0 %}{{ site.data[site.lang].months[m] }}, {{ date | date: '%Y' }}{% unless forloop.last %};{% endunless %}{% endfor %}
{%- endcapture -%}
{%- assign dateLabels = dateLabels | split: ';' | uniq -%}

{%- assign currentDateSlug = '' -%}
{%- assign currentDateLabel = '' -%}
{%- if page.page_type == 'post_list' -%}
    {%- for post in page.posts -%}
        {%- assign currentDateSlug = post.date | date: "%Y-%m" %}
        {%- assign m = post.date | date: "%-m" | minus: 0 -%}
        {%- capture currentDateLabel -%}
            {{ site.data[site.lang].months[m] }}, {{ post.date | date: "%Y" }}
        {%- endcapture -%}
        {%- break -%}
    {%- endfor -%}
{%- endif -%}
