@import "../colors";
@import "../sizes";
@import "../fonts";

.DialogWindow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
  background: $white-75;
  z-index: 1000;

  .d-tab {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70rem;
    height: 50rem;
    background: $white;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 1rem 0 $black-75;
    border-radius: 0.5rem;

    &.-active {
      display: block;
    }
  }

  .d-header {
    height: 12.5rem;
    padding: 3rem 2rem;
  }

  .d-header__title {
    font-size: $size-header-large;
    line-height: $size-header-large-line;
    text-align: center;
    margin: 0;
  }

  .d-body {
    padding: 0 2rem;
    height: 25rem;
    overflow: auto;

    a {
      hyphens: none;
      text-decoration: underline;
    }

    h4 {
      text-align: center;
      font-size: $size-header-small;
      line-height: $size-header-small-line;
      margin: 1.3rem;
    }
  }

  .d-buttons {
    display: flex;
    height: 12.5rem;
    padding: 3rem 2rem;
    justify-content: space-evenly;
    outline: none;

    button {
      border: 1px solid $white;
      width: 20rem;
      padding: 0;
      margin: 0;
      background: $dark-grey;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      font-size: $size-button-normal;
      line-height: $size-button-normal-line;
      outline: none;
      color: $white;
      transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    }

    button:hover {
      background: $white;
      color: $light-black;
      border-color: $darker-grey;
      cursor: pointer;
    }
  }
}
