---
layout: default
page_type: post_view
---
<section class="c-content__article">
    <article class="a-article">
        <header class="a-header">
            <h2 class="a-header__title">{{ page.title | escape }}</h2>
            <div class="a-header__meta">
                {%- assign m = page.date | date: "%-m" | minus: 0 -%}
                {%- assign postMonth = site.data[site.lang].months[m] -%}
                {%- capture postDate  -%}
                    {{ postMonth }}&nbsp;{{ page.date | date: '%e' }}, {{ page.date | date: '%Y' }} {{ page.date | date: '%R' }}
                {%- endcapture -%}
                <p class="a-meta__date">Posted on {{ postDate }}</p>
                {%- unless page.expiration == "none" -%}
                    {%- assign em = page.expiration | date: "%-m" | minus: 0 -%}
                    {%- assign expirationMonth = site.data[site.lang].months[em] -%}
                    {%- capture expirationDate  -%}
                        {{ expirationMonth }}&nbsp;{{ page.expiration | date: '%e' }}, {{ page.expiration | date: '%Y' }}
                    {%- endcapture -%}
                <p class="a-meta__expiration">Estimated date of expiration: {{ expirationDate }}</p>
                {%- endunless -%}

                <p class="a-meta__category">Posted under the <a href="/{{ page.category}}/index.html">{{ page.categoryLabel }}</a> category</p>

                {%- if page.level != '' -%}
                <p class="a-meta__level">Level: {{ page.level }}</p>
                {%- endif -%}

                <p class="a-meta__tags">Posted with the following tags:
                {% for tag in page.tags %}
                    <a href="/tags/{{ tag }}/index.html">#{{ page.tagLabels[forloop.index0] }}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
                </p>
            </div>
        </header>
        <p class="a-excerpt">
            {{ page.excerpt }}
        </p>

        {%- if page.illustration != '' -%}
        <figure class="a-illustration">
            <img class="a-illustration__image" src="/assets/img/post-illustration-placeholder.jpg" data-src="/assets/img/blog/{{ page.date | date: '%Y' }}{{ page.id }}/{{ page.illustration }}" alt="{{ page.title | escape }}">
            {%- if page.illustration-caption != '' -%}
            <figcaption class="a-illustration__caption">{{ page.illustrationCaption }}</figcaption>
            {%- endif -%}
        </figure>
        {%- endif -%}

        <div class="a-body">
            {{ page.content | remove: page.excerpt }}
        </div>

        <footer class="a-footer">
            <h3 class="a-footer__title">About the author</h3>
            <a class="a-footer__avatar" href="/author/{{ page.author_slug | default: site.author_slug }}/index.html"><img src="/author/{{ page.author_slug | default: site.author_slug }}/{{ page.author_avatar | default: site.author_avatar }}" alt="{{ page.author | default: site.author }}"></a>
            <p class="a-footer__author">
                {{ page.author_introduction | default: site.author_introduction }}
                <br>
                <a href="/author/{{ page.author_slug | default: site.author_slug }}/index.html">Read the full story</a>
            </p>
        </footer>
    </article>
    {%- if page.review -%}
    <aside class="a-comments">
        <header class="a-comments__title">
            <h4>It's time to judge me!</h4>
        </header>
        <div id="commento">
            It seems like that Commento or JavaScript in general is disabled, so no chance to judge me in public. But don't worry, you can
            <a class="mailto" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#119;&#111;&#114;&#115;&#116;&#46;&#112;&#114;&#97;&#99;&#116;&#105;&#99;&#101;&#46;&#98;&#108;&#111;&#103;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;?subject=Judgement on `{{ page.title }}`" target="_blank" rel="noopener noreferrer">write me</a>
            your opinions/ideas/suggestions in email. Please don't forget to reference the page in the message.
        </div>
    </aside>
    {%- endif -%}
</section>
