---
layout: default
pagination:
    enabled: true
page_type: tag_list
---
{%- include variables.html -%}

<header class="c-header">
    <h2 class="c-header__title">Tags: {{ currentTagLabel }}</h2>
</header>
<section class="c-content__list">
    {%- for post in paginator.posts -%}
        {% include post-list-element.html post=post %}
    {%- endfor -%}

    {%- if paginator.total_pages > paginator.per_page -%}
    <footer class="c-footer">
        {% include pagination.html %}
    </footer>
    {%- endif -%}
</section>
