
$white: rgba(255, 255, 255, 1);
$lighter-grey: rgba(248, 248, 248, 1);
$light-grey: rgba(238, 238, 238, 1);
$grey: rgba(220, 220, 220, 1);
$dark-grey: rgba(155, 155, 155, 1);
$darker-grey: rgba(118, 118, 118, 1);
$deep-dark-grey: rgba(75, 75, 75, 1);
$light-black: rgba(34, 34, 34, 1);
$black: rgba(0, 0, 0, 1);

$transparent: rgba(0, 0, 0, 0);
$white-75: rgba(255, 255, 255, 0.75);
$white-50: rgba(255, 255, 255, 0.5);
$white-25: rgba(255, 255, 255, 0.25);
$black-75: rgba(0, 0, 0, 0.75);
$black-50: rgba(0, 0, 0, 0.5);
$black-25: rgba(0, 0, 0, 0.25);

$light-red: rgba(255, 100, 100, 1);
$red: rgba(255, 0, 0, 1);
$dark-red: rgba(198, 0, 0, 1);

$light-green: rgba(100, 255, 100, 1);
$green: rgba(0, 200, 0, 1);
$dark-green: rgba(0, 100, 0, 1);

$light-blue: rgb(100, 200, 255);
$blue: rgb(0, 72, 255);
$dark-blue: rgba(0, 0, 150, 1);

$light-orange: rgba(236, 170, 29, 1);
$orange: rgba(254, 128, 25, 1);
$dark-orange: rgba(207, 93, 0, 1);

$chart-beginner: rgba(255, 69, 0, 1);
$chart-junior: rgba(255, 255, 0, 1);
$chart-experienced: rgba(173, 255, 47, 1);
$chart-senior: rgba(34, 139, 34, 1);
$chart-expert: rgba(0, 100, 0, 1);
$chart-fadeout: $transparent;
