/* Dimensions */
$desktop-min-width-limit: 1025px;
$desktop-content-width: 90rem;
$desktop-content-padding: 10rem;

$tablet-max-width-limit: 1024px;
$tablet-min-width-limit: 481px;

$mobile-max-width-limit: 480px;

/* Text */
$size-text-base: 62.5%; /* This should produce 10px, if your browser follows the unspoken rules. */

$size-12: 1.2rem;
$size-13: 1.3rem;
$size-14: 1.4rem;
$size-15: 1.5rem;
$size-16: 1.6rem;
$size-17: 1.7rem;
$size-18: 1.8rem;

$size-20: 2.0rem;
$size-21: 2.1rem;
$size-21-6: 2.16rem;
$size-22: 2.2rem;
$size-23: 2.3rem;
$size-24: 2.4rem;
$size-26: 2.6rem;
$size-28: 2.8rem;
$size-29: 2.9rem;
$size-30: 3.0rem;
$size-32: 3.2rem;
$size-34: 3.4rem;
$size-36: 3.6rem;
$size-38: 3.8rem;

$size-40: 4rem;
$size-45: 4.5rem;

$size-50: 5rem;
$size-52: 5.2rem;

$size-60: 6rem;
$size-64: 6.4rem;
$size-65: 6.5rem;

$size-header-large: $size-50;
$size-header-large-line: $size-65;
$size-header-medium: $size-36;
$size-header-medium-line: $size-45;
$size-header-normal: $size-30;
$size-header-normal-line: $size-40;
$size-header-small: $size-24;
$size-header-small-line: $size-30;
$size-header-tiny: $size-16;
$size-header-tiny-line: $size-24;
$size-header-micro: $size-14;
$size-header-micro-line: $size-20;
$size-header-nano: $size-13;
$size-header-nano-line: $size-21-6;

$size-text-large: $size-24;
$size-text-large-line: $size-36;
$size-text-medium: $size-18;
$size-text-medium-line: $size-30;
$size-text-normal: $size-16;
$size-text-normal-line: $size-24;
$size-text-small: $size-14;
$size-text-small-line: $size-16;
$size-text-tiny: $size-12;
$size-text-tiny-line: $size-14;

$size-quote-sign: $size-60;

$size-button-normal: $size-16;
$size-button-normal-line: $size-65;

$size-letter-spacing-shrink: -0.012rem;
$size-letter-spacing-tiny-gap: 0.01rem;
$size-letter-spacing-small-gap: 0.05rem;
$size-letter-spacing-large-gap: 0.08rem;
$size-letter-spacing-expand: 0.12rem;
$size-letter-spacing-expand-more: 0.2rem;
$size-letter-spacing-stretch: 0.28rem;
