@import "../colors";
@import "../sizes";
@import "../fonts";

.c-content {
  width: 100%;
  max-width: 74rem;
  margin: 0 auto;
  padding: 9.5rem 4.8rem 11.4rem 4.8rem;

  section {
    margin: 0;
    padding: 0;
  }

  article {
    margin: 0;
    padding: 0;
  }

  h3 {
    margin: 0 0 6.4rem 0;
    font-size: $size-header-micro;
    font-weight: 800;
    line-height: $size-header-micro-line;
    text-transform: uppercase;
    letter-spacing: $size-letter-spacing-expand-more;
  }

  p {
    padding: 0;
    margin: 0 0 2.4rem 0;
  }

  hr {
    display: block;
    border-width: 0 0 0.1rem 0;
    border-style: solid;
    border-color: $darker-grey;
    width: 2rem;
    margin: 0 0 3.6rem 0;
    padding: 1.2rem 0 0 0;
  }

  dl {
    display: block;
  }

  dl::after {
    display: block;
    content: '';
    clear: both;
  }

  dt {
    clear: right;
    float: left;
    width: 20rem;
    font-weight: 800;
    margin-top: 1rem;
  }

  dt + dd {
    margin-top: 1rem;
  }

  dd {
    float: right;
    width: 49.9rem;
  }

  blockquote {
    padding: 1rem 5rem;


    p {
      font-family: $font-serif;
      font-weight: 400;
      font-style: italic;
      text-align: justify;
      font-size: $size-text-medium;
      line-height: $size-text-medium-line;
      min-height: 3rem;
      padding: 1rem;
    }

    span {
      display: block;
      text-align: right;
      font-size: $size-text-small;
      line-height: $size-text-small-line;
      font-style: italic;

      &::before,
      &::after {
        content: ' -- ';
      }
    }

    &::before {
      font-family: $font-serif;
      position: absolute;
      top: 2rem;
      left: 0;
      display: block;
      content: "“";
      color: $light-black;
      font-weight: 700;
      font-size: $size-quote-sign;
    }

    &::after {
      font-family: $font-serif;
      position: absolute;
      top: 2rem;
      right: 0;
      display: block;
      content: "”";
      color: $light-black;
      font-weight: 700;
      font-size: $size-quote-sign;
    }
  }
}

@media only screen and (max-width: 767px) {
  .c-content {
    padding: 6.3rem 3.6rem 3.6rem 3.6rem;

    h3 {
      margin: 0 0 8rem 0;
    }

    p {
      font-size: $size-text-medium;
      line-height: $size-text-medium-line;
    }

    dl {
      display: block;
    }

    dl::after {
      display: block;
      content: '';
      clear: both;
    }

    dt {
      display: block;
      float: none;
      width: 100%;
      font-weight: 800;
      margin-top: 1rem;
    }

    dd {
      margin-top: 1rem;
      float: none;
      width: 100%;
    }
  }
}
