@import "../colors";
@import "../sizes";
@import "../fonts";

.h-header {
  position: relative;
  display: block;
  width: 100vw;
  height: calc(100vh - 7.2rem);

  .h-header__portrait {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    clip: rect(0, auto, auto, 0);

    img {
      position: fixed;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.5) 100%);
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }

  .h-header__title {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0 4.8rem 0;
    vertical-align: bottom;
    z-index: 2;

    h1 {
      max-width: 100rem;
      margin: 0 auto;
      padding-left: 4.8rem;
      font-size: $size-header-medium;
      font-weight: 800;
      letter-spacing: $size-letter-spacing-stretch;
      line-height: $size-header-medium-line;
      text-transform: uppercase;

      a{
        color: $white;
        text-decoration: none;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }

    h2 {
      max-width: 100rem;
      margin: 0 auto;
      padding-left: 4.7rem;
      color: $white;
      font-size: $size-header-tiny;
      font-weight: 400;
      line-height: $size-header-tiny-line;
    }
  }
}
