@import "../colors";
@import "../sizes";
@import "../fonts";

.subpage {
  .h-header {
    height: 16.5rem;

    .h-header__portrait {
      height: 16.5rem;

      img {
        height: 16.5rem;
        object-position: 50% 40%;
      }
    }
  }

  .m-menu__link.-downarrow {
    display: none;
  }

  .c-content {
    min-height: calc(100vh - 16.5rem - 6.2rem - 9.5rem);
  }
}

